@{
    ViewBag.Title = "Login Page";
}

<div class="jumbotron">
    <h1>Log-in</h1>
    <p class="lead">We enabled social sign-in so please use your Gmail account to login. It's safe and secure login technique.</p>
    <p><div class="g-signin2" data-onsuccess="onSignIn"></div></p>
    <p><a href="#" onclick="signOut();">Sign out</a></p>
</div>